
<!-- Navbar -->
<app-navbar></app-navbar>
<div class="container">

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      
      <div class="text">
        <h1 class="hero-title">
          Our Mission to End <br />
          Food Waste and Fight Hunger
        </h1>
        <p class="hero-text">We believe surplus food should feed people, not landfills.</p>
        <div class="buttons">
          <button class="btn-primary">Start sharing food</button>
          <button class="btn-outline">Download the app</button>
        </div>
      </div>
      <div class="image">
        <img src="assets/images/foodDonation4.jpg" alt="Food Sharing" />
      </div>
    </div>
  </section>

    <!-- Why Choose Section -->
  <section class="why-section">
    <div class="why-section-left">
      <img src="assets/images/foodDonation.jpg" alt="Why Choose Replate" />
    </div>
    <div class="why-section-right-container">
      <div class="why-section-right">
        <span class="why-section-right-subtitle">Create change together</span>
        <h1 class="why-section-right-title">Why Choose Replate?</h1>
        <div class="why-section-box-container">
          <div class="why-section-box">
            <div class="why-section-box-number">01</div>
            <div class="why-section-box-content">
              <span>Simple & Fast</span>
              <p>Donate or receive food in just a few clicks with no paperwork and no hassle.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">02</div>
            <div class="why-section-box-content">
              <span>Verified Partners</span>
              <p>Every donor and organization is verified to ensure safety and trust.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">03</div>
            <div class="why-section-box-content">
              <span>Effective Tracking</span>
              <p>Track donations from pickup to delivery and see your real impact.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">04</div>
            <div class="why-section-box-content">
              <span>Real life Impact</span>
              <p>Reduce food waste, help local communities, and protect the planet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stats Section -->
  <section class="stats-section">
    <div class="stats-container">

      <div class="stat-box1">
        <div class="stat-card stat-horizental" >
          <div class="stat-card-title">
            <span class="stat-number">15M+</span>
          </div>
          <div class="stat-card-txt stat-card-txt-horizntal">
            <span class="stat-head">Meals served</span>
            <span class="stat-desc">
              Millions of meals shared with families and communities in need.
            </span>
          </div>
        </div>  
      </div>

      <div class="stat-box2"> 
        <div class="stat-card stat-horizental" >
          <div class="stat-card-title">
            <span class="stat-number">1200</span>
          </div>
          <div class="stat-card-txt stat-card-txt-horizntal">
            <span class="stat-head">Volunteers</span>
            <span class="stat-desc">
              Actively helping collect and distribute food to people in need.            </span>
          </div>
        </div>  
      </div>

      <div class="stat-box3">
        <div class="stat-card stat-horizental" >
          <div class="stat-card-title">
            <span class="stat-number">25+</span>
          </div>
          <div class="stat-card-txt stat-card-txt-horizntal2">
            <span class="stat-head">Cities Covered</span>
            <span class="stat-desc-box3">
              Expanding across regions to reach more people.            </span>
          </div>
        </div>  
      </div>

      <div class="stat-box4">
        <div class="stat-card stat-vertical" >
          <div class="stat-card-title-vertical">
            <span class="stat-number">85%</span>
          </div>
          <div class="stat-card-txt stat-card-txt-vertical">
            <span class="stat-head">Less Waste</span>
            <span class="stat-desc">
              A large percentage of surplus food redirected instead of discarded.            </span>
          </div>
        </div>  
      </div>

    </div>
  </section>


  <!-- Steps Section -->
  <section class="steps-section">
    <div class="steps-section-left">
    </div>
    <div class="why-section-right-container">
      <div class="why-section-right">
        <h1 class="why-section-right-title">4 quick steps to use our services</h1>
        <div class="why-steps-box-container">
          <div class="why-section-box">
            <div class="why-section-box-number">.</div>
            <div class="why-section-box-content">
              <span>Download the App</span>
              <p>Donate or receive food in just a few clicks with no paperwork and no hassle.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">.</div>
            <div class="why-section-box-content">
              <span>Sign Up</span>
              <p>Create your profile and choose your role: donor, volunteer, or beneficiary.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">.</div>
            <div class="why-section-box-content">
              <span>Post or Claim Food</span>
              <p>Donors list surplus food, and NGOs or individuals can request what they need.</p>
            </div>
          </div>
          <div class="why-section-box">
            <div class="why-section-box-number">.</div>
            <div class="why-section-box-content">
              <span>Collect & Share Impact</span>
              <p>Pick up, deliver, or receive food and track the difference you’ve made.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="faq-section">
    <div class="faq-container">
      <div class="faq-header">
        <h2 class="faq-header-title">Got a question for Replate?</h2>
        <p>Here you’ll find answers to the most common questions about Replate and how it works.</p>
      </div>
      <div class="faq-list">
        <div class="faq-item" *ngFor="let item of faqItems">
          <p class="faq-question">{{ item.question }}</p>
          <p class="faq-answer">{{ item.answer }}</p>
        </div>
      </div>
    </div>
  </section>

</div>
<app-footer></app-footer>
