<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-brand">
            <div class="logo">
                <div class="logo-icon"></div>
                <span>Replate</span>
            </div>
            <p>Connecting food providers with communities in need to reduce waste and fight hunger. Together, we're
                building a more sustainable future.</p>
            <div class="social-links">
                <a href="#"><mat-icon>link</mat-icon></a>
                <a href="#"><mat-icon>close</mat-icon></a>
                <a href="#"><mat-icon>camera_alt</mat-icon></a>
                <a href="#"><mat-icon>facebook</mat-icon></a>
            </div>
        </div>

        <div class="footer-links">
            <div class="link-column">
                <h4>Company</h4>
                <a href="#">About Us</a>
                <a href="#">Our Mission</a>
                <a href="#">Partners</a>
                <a href="#">Careers</a>
                <a href="#">Contact</a>
            </div>
            <div class="link-column">
                <h4>Support</h4>
                <a href="#">FAQ</a>
                <a href="#">Resources</a>
                <a href="#">Services</a>
                <a href="#">Help Center</a>
                <a href="#">Accessibility</a>
            </div>
            <div class="link-column">
                <h4>Get Involved</h4>
                <a href="#">Donate Food</a>
                <a href="#">Volunteering</a>
                <a href="#">Partner with us</a>
                <a href="#">Fundraise</a>
                <a href="#">Beneficiary</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Replate. All rights reserved.</p>
        <div class="legal-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Services</a>
            <a href="#">Cookies Settings</a>
        </div>
    </div>

    <button class="scroll-top" (click)="scrollToTop()">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
</footer>